$color_1: #333;
$color_2: #666;
$color_3: rgba(0, 0, 0, 0.25);
$font_family_1: "Proxima Nova", -apple-system, "Helvetica Neue", Helvetica,
    Roboto, Arial, sans-serif, sans-serif;
$font_family_2: inherit;
$background_gray: #eeeeee;
$primary: #ffe600;
$secondary: #3483fa;
$success: #5cb85c;
$background_color_3: rgba(255, 255, 255, 0.7);
$background_color_4: #f7f7f7;

// Imports
@import "../../node_modules/bootstrap-4-grid/scss/grid";
@import "components/header";
@import "resultsPage";
@import "detailsPage";

// Common styles
body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 13px;
    background-color: $background_gray;
    border-collapse: collapse;
    display: table;
    font-family: $font_family_1;
    table-layout: fixed;
}
html {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 13px;
    background-color: $background_gray;
}

.loading-container {
    text-align: center;
    .loading-icon {
        padding: 48px 0;
        margin: 0 auto;
    }
}
